# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Facebook API
    facebook_app_id: 127110168150898
    facebook_app_secret: 359b1558adfdcc1bb8c4b3413828c294

    # Google API
    google_app_id: 298581946046-e6ku1asev33a6s8cvdc85hjstpop6vo0.apps.googleusercontent.com
    google_app_secret: 1bx9CcVuYPs9u5m1TcaPghEz
