{% extends 'base.html.twig' %}

{% block body %}
<!-- page title section area start -->
<section id="page_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-12">
                <div class="page_title text-center">
                    <h2>FAQ</h2>
                    <img src="img/page-banner/title_border.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page title section area end -->

<!-- page bridecumb area start -->
<section id="bridecumb_area">
    <div class="container">
        <div class="row">
            <h2 class="hide">hide</h2>
            <div class="col-md-12 col-lg-12">
                <div class="bridecumb text-center">
                    <a href="index-2.html">Home /<span> Faq</span></a>
                </div>
            </div>
        </div>
    </div>
    <hr />
</section>
<!-- page bridecumb area end  -->

<!-- faq area start -->
<div class="faq_area">
    <div class="container">
        <div class="row">
            <div class="faq_content">
                <div class="col-lg-6 col-md-6">
                    <div class="faq_details">
                        <h2>Question & answear number one</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. repeat predefined chunks as necessary, making this the first true generator on the Internet.always free from repetition, injected humour</p>
                    </div>
                    <div class="faq_details">
                        <h2>Question & answear number one</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        <p> or randomised words which don't look even slightly believable. repeat predefined chunks as necessary, making this the first true generator on the Internet.always free from repetition, injected humour</p>
                    </div>
                    <div class="faq_details">
                        <h2>Question & answear number one</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. repeat predefined chunks as necessary, making this the first true generator on the Internet.always free from repetition, injected humour</p>
                    </div>
                    <div class="faq_details">
                        <h2>Question & answear number one</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. repeat predefined chunks as necessary, making this the first true generator on the Internet.always free from repetition, injected humour</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="faq_details">
                        <h2>Question & answear number one</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. repeat predefined chunks as necessary, making this the first true generator on the Internet.always free from repetition, injected humour</p>
                    </div>
                    <div class="faq_details">
                        <h2>Question & answear number one</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        <p> or randomised words which don't look even slightly believable. repeat predefined chunks as necessary, making this the first true generator on the Internet.always free from repetition, injected humour</p>
                    </div>
                    <div class="faq_details">
                        <h2>Question & answear number one</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. repeat predefined chunks as necessary, making this the first true generator on the Internet.always free from repetition, injected humour</p>
                    </div>
                    <div class="faq_details">
                        <h2>Question & answear number one</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. repeat predefined chunks as necessary, making this the first true generator on the Internet.always free from repetition, injected humour</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- faq area end -->

<!-- prolance area start -->
<section id="prolance_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="prolance text-center">
                    <h2>PRO LAWN CARE</h2>
                    <h3>Premier Lawn Care And Landscaping Services</h3>
                    <button class="btn btn-info prolancer_button">Get Started Today!!</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- prolance area start -->
{% endblock %}