{% extends 'base.html.twig' %}

{% block body %}
    <!-- page title section area start -->
    <section id="page_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-12">
                    <div class="page_title text-center">
                        <h2>Service</h2>
                        <img src="img/page-banner/title_border.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title section area end -->

    <!-- page bridecumb area start -->
    <section id="bridecumb_area">
        <div class="container">
            <div class="row">
                <h2 class="hide">hide</h2>
                <div class="col-md-12 col-lg-12">
                    <div class="bridecumb text-center">
                        <a href="index-2.html">Home /<span> Service</span></a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </section>
    <!-- page bridecumb area end  -->


    <!-- service area start -->
    <section id="service_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service_column service_page">
                        <div class="sevice_single">
                            <div class="img-holder">
                                <div class="service_img">
                                    <img src="img/home-v2-service/service-1.jpg" alt="" />
                                </div>
                                <div class="overlay">
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service_title">
                            <h2>Lawn Care</h2>
                            <p>There are bla many variations of lorem of Lorem well available but the lorem ipsum majority have suffered...</p>
                            <a href="single-service.html">Read More > </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service_column service_page">
                        <div class="sevice_single">
                            <div class="img-holder">
                                <div class="service_img">
                                    <img src="img/home-v2-service/service-2.jpg" alt="" />
                                </div>
                                <div class="overlay">
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service_title">
                            <h2>Landscaping</h2>
                            <p>There are bla many variations of lorem of Lorem well available but the lorem ipsum majority have suffered...</p>
                            <a href="single-service.html">Read More > </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service_column service_page">
                        <div class="sevice_single">
                            <div class="img-holder">
                                <div class="service_img">
                                    <img src="img/home-v2-service/service-3.jpg" alt="" />
                                </div>
                                <div class="overlay">
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service_title">
                            <h2>Tree Palnting</h2>
                            <p>There are bla many variations of lorem of Lorem well available but the lorem ipsum majority have suffered...</p>
                            <a href="single-service.html">Read More > </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service_column service_page">
                        <div class="sevice_single">
                            <div class="img-holder">
                                <div class="service_img">
                                    <img src="img/home-v2-service/service-4.jpg" alt="" />
                                </div>
                                <div class="overlay">
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service_title">
                            <h2>Water Gardening</h2>
                            <p>There are bla many variations of lorem of Lorem well available but the lorem ipsum majority have suffered...</p>
                            <a href="single-service.html">Read More > </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service_column service_page">
                        <div class="sevice_single">
                            <div class="img-holder">
                                <div class="service_img">
                                    <img src="img/home-v2-service/service-5.jpg" alt="" />
                                </div>
                                <div class="overlay">
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service_title">
                            <h2>Fertilizing</h2>
                            <p>There are bla many variations of lorem of Lorem well available but the lorem ipsum majority have suffered...</p>
                            <a href="single-service.html">Read More > </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service_column service_page">
                        <div class="sevice_single">
                            <div class="img-holder">
                                <div class="service_img">
                                    <img src="img/home-v2-service/service-6.jpg" alt="" />
                                </div>
                                <div class="overlay">
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service_title">
                            <h2>Rubbish Removal</h2>
                            <p>There are bla many variations of lorem of Lorem well available but the lorem ipsum majority have suffered...</p>
                            <a href="single-service.html">Read More > </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service_column service_page">
                        <div class="sevice_single">
                            <div class="img-holder">
                                <div class="service_img">
                                    <img src="img/home-v2-service/service-7.jpg" alt="" />
                                </div>
                                <div class="overlay">
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service_title">
                            <h2>Irrigation</h2>
                            <p>There are bla many variations of lorem of Lorem well available but the lorem ipsum majority have suffered...</p>
                            <a href="single-service.html">Read More > </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="service_column service_page">
                        <div class="sevice_single">
                            <div class="img-holder">
                                <div class="service_img">
                                    <img src="img/home-v2-service/service-8.jpg" alt="" />
                                </div>
                                <div class="overlay">
                                    <a href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="service_title">
                            <h2>Hedges</h2>
                            <p>There are bla many variations of lorem of Lorem well available but the lorem ipsum majority have suffered...</p>
                            <a href="single-service.html">Read More > </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service area start -->

    <!-- prolance area start -->
    <section id="prolance_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="prolance text-center">
                        <h2>PRO LAWN CARE</h2>
                        <h3>Premier Lawn Care And Landscaping Services</h3>
                        <button class="btn btn-info prolancer_button">Get Started Today!!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- prolance area start -->
{% endblock %}